

<main class="text-center">
<h1 class="h4">Toplantı Durumu</h1>
    <p>Toplantıya sizinle beraber @ViewBag.userCount kişi katılıyor.</p>
<a class="btn btn-sm btn-outline-primary" href="/meeting/List">Katılımcıları Listele</a>

</main>